.head {
    position: absolute;
    width: 1920px;
    height: 624px;
    left: 0px;
    top: 0px;
  }
  
  .head_font_title {
    position: absolute;
    /* width: 309px; 일단 임의로 설정 */
    height: 40px;
    left: 258px;
    top: 100px;
  
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
  }
  
  .head_font_damha {
    position: absolute;
    width: 658px;
    height: 195px;
    left: 248px;
    top: 113px;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 160px;
    line-height: 195px;
  }
  
  .frame {
    position: absolute;
    width: 1182px;
    height: 570px;
    left: 838px;
    top: -90px;
  }
  
  .vector {
    /* position: absolute; */
    /* width: 1402px;
      height: 1127px; */
    width: 100%;
    height: 100%;
    left: 258px;
    top: 624px;
    margin-top: 346px;
    margin-left: 358px;
  }
  
  .vector2 {
    width: 100%;
    height: 100%;
    left: 258px;
    top: 624px;
    margin-top: -234px;
    margin-left: 280px;
  }
  
  .vector3 {
    width: 100%;
    height: 100%;
    left: 258px;
    top: 624px;
    margin-top: 365px;
    margin-left: 280px;
  }
  
  .vector4 {
    width: 100%;
    height: 100%;
    left: 258px;
    top: 624px;
    margin-top: 330px;
    margin-left: 280px;
  }
  
  .vector5 {
    width: 100%;
    height: 100%;
    left: 258px;
    top: 624px;
    margin-top: 75px;
    margin-left: 280px;
  }
  
  .vector6 {
    width: 100%;
    height: 100%;
    left: 258px;
    top: 624px;
    margin-top: 504px;
    margin-left: 280px;
  }
  
  .vector7 {
    width: 100%;
    height: 100%;
    left: 258px;
    top: 624px;
  }
  
  .two {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #e47b41;
  }
  
  .strength1 {
    width: 100%;
    height: 100%;
    left: 258px;
    top: 624px;
    margin-top: 330px;
    margin-left: 280px;
  }
  
  .con {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  
  /* 페이징 부분 */
  html {
    overflow: hidden;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  .content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .brand {
    position: absolute;
    left: 260px;
    top: -180px;
  
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #e47b41;
  }
  
  .brand2 {
    position: absolute;
    left: 412px;
    top: -270px;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 180px;
    line-height: 219px;
  
    color: rgba(0, 0, 0, 0.03);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Raleway");
  
  * {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #666;
  }
  
  li {
    list-style: none;
  }
  
  body {
    background: #fff;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  
  #tab-menu {
    width: 70%;
    background: rgba(196, 196, 196, 0.2);
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translatex(-50%);
    border-radius: 4px;
    margin: 0;
    padding: 0;
  }
  
  #tab-menu ul {
    overflow: hidden;
  }
  
  #tab-menu li {
    float: left;
    width: 448px;
    text-align: center;
  }
  
  #tab-menu li a {
    display: block;
    color: #d5d5d5;
    padding: 15px 20px;
    font-weight: bold;
  }
  
  #tab-menu li.active a {
    border-bottom: 3px solid #e47b41;
    color: black;
  }
  
  #tab-menu li div {
    position: absolute;
    left: 0;
    background: rgba(196, 196, 196, 0.2);
    padding: 120px;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
  }