@import url('https://fonts.googleapis.com/css?family=Raleway');


* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color:#666; }
li {list-style:none; }
body{
  background:#fff url(https://postfiles.pstatic.net/MjAxOTAyMThfMTgx/MDAxNTUwNDc3NzYyNzYw.elfXJVwvgxMih0VJbokx-UZInXnRagw5l0VfTpVqGdwg.mNtNt2LWlDIs3JBeCKESviN3RCkwyEfDrDyZ1E4rlqwg.JPEG.naver_diary/20_나이트오프뮤직비디오_예쁘게시들어가고싶어너와.jpg?type=w773) no-repeat center center fixed; 
  background-size: cover; 
  font-family:'Raleway', sans-serif;  
  font-size: 14px; 
  line-height: 1.6em; 
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;}

body::before {
  content: '';
  position: fixed; top: 0; left: 0;
  z-index:-1;
  background:rgba(138, 99, 86,0.7);
  width: 100%; height: 100%;
}


#tab-menu {
  width: 600px;
  background: rgba(30, 8, 2,0.5);
  position: absolute; left: 50%; top: 300px;
  transform: translatex(-50%);
  border-radius: 4px;
}
#tab-menu ul {
  overflow:hidden;
}
#tab-menu li {
  float:left; width: 90px; text-align:center;
  
}
#tab-menu li a {
  display: block; color:#fff; 
  padding: 15px 20px;
  font-weight: bold;
}
#tab-menu li.active a {border-bottom: 3px solid #fff; color: #F8A714;}

#tab-menu li div {
  position: absolute; left:0; top: 55px; 
  background: rgba(255,255,255,0.3); text-align: left;
  padding: 20px; 
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
}